* {
    font-family: "Sora", sans-serif;
    font-style: normal;
}

body {
    background-color: #d7d7d7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.box {
    max-width: 100%;
    max-height: 100%;
    background-color: #fbfbfb;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start, .finish, .amount, .result {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

h1 {
    color: #1E80C1;
    font-size: 30px;
    font-weight: 500;
    width: 25%;
    height: 25%;
}

input::placeholder {
    color: #b7b7b7;
}

select, input, .converted {
    border: none;
    background-color: #ededed;
    padding: 10px;
    border-radius: 8px;
}

.start select, .finish select{
    cursor: pointer;
}

label, .result {
    font-size: 15px;
}

.convert {
    background-color: #00cf71;
    color: white;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.convert:hover {
    background-color: #00c06e;
}
